<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="klicelab.persistence.UserMapper">
    <select id="getUser" resultType="klicelab.model.User">
        select * from users where id=#{id}
    </select>
    <insert id="register">
        insert into users (name,password,email,createTime) values (#{name},#{password},#{email},#{createTime})
    </insert>
</mapper>